<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Welcome to Skycastle</title>
</head>
<body>
    <header>
        <h1>SkyCastle User Profile</h1>
    </header>
    <main>
        <p>Name: {{user_name}}</p>
        <p>Email: {{user_email}}</p>
        <div>
            <img src={{user_propic}} alt="Google profile pic"></img>
        </div>
        <div class="center">
            <a class="button" href="/logout">Logout</a>
        </div>
    </main>
</body>
</html>